<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Dharmesh_Faq::parent" title="Faq" module="Dharmesh_Faq" sortOrder="100" resource="Dharmesh_Faq::parent"/>
		<add id="Dharmesh_Faq::dharmeshfaq" title="Manage Questions/Answers" module="Dharmesh_Faq" sortOrder="20" parent="Dharmesh_Faq::parent" action="faq/dharmeshfaq" resource="Dharmesh_Faq::dharmeshfaq"/>

    </menu>
</config>